<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> head_css}}
    <!-- 구글 아이콘과 폰트 생략 -->
    <title>SJ COMPANY 방문객 서비스</title>
    <style>
        .main_text {
            #border: 1px solid red;
            font-size: 32px;
            text-align: center;
            font-weight: bold;
            padding-top: 100px;
            text-shadow: 3px 3px 3px gray;
        }
        .btn_box {
            #border: 1px solid red;
            text-align: center;
            padding-top: 50px;
        }
        .btn1 {
            display: inline-block;
            margin-right: 10px;
        }
        .btn2 {
            display: inline-block;
            margin-left: 10px;
        }
    </style>
</head>
<body style="background-size: cover; background-image: url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90oy1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
<div class="container">
    {{> header}}
    <main id="main-content">
        <div class="main_box">
            <div class="main_text">
                <p>행복한 하루를 함께하는 SJCOMPANY 방문신청 서비스 입니다.</p>
                <p>원하시는 서비스를 선택하여 주십시오.</p>
            </div>
            <div class="btn_box">
                <div class="btn1">
                    <button type="button" class="form-control btn btn-light btn-outline-dark btn-lg theme-btn--dark-inverse sqs-button-element--dark" onClick="location.href='/apply'">방문신청하기</button>
                </div>
                <div class="btn2">
                    <button type="button" class="form-control btn btn-light btn-outline-dark btn-lg theme-btn--dark-inverse sqs-button-element--dark" onClick="location.href='/check'">방문조회하기</button>
                </div>
            </div>
        </div>
    </main>
    {{> footer}}
</div>

</body>
</html>
