<footer>
    <div class="footer_title">
        <div class="footer_text1">
            SJCOMPANY_SVC@sjcompany.com & 010 - 2024 - 0223
        </div>
        <div class="footer_text2">
            copyright &copy; 2024. SJ COMPANY. All rights reserved.
        </div>
    </div>
</footer>