<header>
 <div class="main_title"><a href="/" > SJ COMPANY 방문객 서비스</a></div>
   <div class="main_list">
       <a href="/apply" class="listbtn">방문신청</a>
       <a href="/check" class="listbtn">방문조회</a>
       <a href="/intro" class="listbtn">회사소개</a>
       <a href="/svc" class="listbtn">고객센터</a>
 </div>
</header>
